<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <link rel="stylesheet" th:href="@{/css/app.css}" />
    <link rel="stylesheet" th:href="@{/css/friends.css}" />
    <link rel="stylesheet" th:href="@{/css/chat.css}" />
</head>
<body>



<!--<div th:if="${not #lists.isEmpty(searchresult)}">-->
    <!--<h2>Counts List</h2>-->
    <!--<table class="table table-striped">-->
        <!--<tr>-->
            <!--<th>Id</th>-->
            <!--<th>Name</th>-->
        <!--</tr>-->
        <!--<tr th:each="result : ${searchresult}">-->
            <!--<td th:text="${result.firstName}"></td>-->
            <!--<td th:text="${result.lastName}"></td>-->

        <!--</tr>-->
    <!--</table>-->
<!--</div>-->





<div class="page" >
    <div class="header">
        <div class="left"></div>
        <div class="center">
            <form class="example"  method="get" style="margin:auto;max-width:300px">
                <input type="text" placeholder="Search by First Name" name="search"/>
                <button type="submit">Search</button>

            </form>
        </div>
        <div class="right">
            <a href="/logout">Log Out</a>
        </div>
    </div>
    <div class="body">
        <div class="side-bar" th:if="${not #lists.isEmpty(friendsLists)}">
            <section class="container" th:each="result : ${friendsLists}">
                <div class="list-item">
                    <div class="item-content">
                        <a th:href="${result.id}" th:text="${result.firstName+ ' '+ result.lastName }"></a>
                    </div>
                </div>
            </section>
        </div>
        <div class="main-content">

            <section class="notifiy" th:if="${not #lists.isEmpty(friendrequest)}">
                <div class="requestbody" th:each="result : ${friendrequest}">
                        <div class =request th:text="${result.firstName+ ' ' + result.lastName}">

                        </div>
                </div>
            </section>

            <!--<section class="notifiy" th:if="${not #lists.isEmpty(friendrequest)}">-->
                <!--<div class="requestbody" th:each="result : ${friendrequest}">-->
                    <!--<div class =request th:text="${result.firstName+ ' ' + result.lastName}">-->

                    <!--</div>-->
                <!--</div>-->
            <!--</section>-->


            <section class="notifiy" th:if="${not #lists.isEmpty(messagenotification)}">
                <div class="requestbody" th:each="result : ${messagenotification}">
                    <div class =request th:text="${result.firstName+ ' ' + result.lastName}">

                    </div>
                </div>
            </section>



            <section class="msger" th:if="${not #lists.isEmpty(messagehistory)}" >
                <header class="msger-header">
                    <div class="msger-header-title" th:text="${friend.firstName+ ' ' + friend.lastName}">

                    </div>
                </header>

                <main id="chat" class="msger-chat" >
                    <div th:each="result : ${messagehistory}">
                    <div class="msg left-msg" th:if="${result.messageToId == loggedInUserId }">
                        <div class="msg-bubble" >
                            <div class="msg-info">
                                <div class="msg-info-time" th:text="${result.registerDate}">12:45</div>
                            </div>

                            <div class="msg-text" th:text="${result.message}">
                                en namak@ vor@ uxarkela @ngert
                            </div>
                        </div>
                    </div>

                    <div class="msg right-msg" th:if="${result.messageFromId == loggedInUserId}">
                        <div class="msg-bubble" >
                            <div class="msg-info">
                                <div class="msg-info-time" th:text="${result.registerDate}">12:46</div>
                            </div>
                            <div class="msg-text" th:text="${result.message}">
                                qo uxarkac namak@
                            </div>
                        </div>
                    </div>
                  </div>
                </main>

                <section class="msger-inputarea">
                    <input id = "txtMessage" type="text" class="msger-input" placeholder="Enter your message..." />
                    <button class="msger-send-btn" th:onclick="'javascript:sendMessage(' + ${friendId} + ')'">Send</button>
                </section>
            </section>


        </div>
    </div>
</div>
<script th:src="@{/js/index.js}"></script>
</body>
</html>